span{
  font-family:sans-serif,arial;
}

.toolbar_target{
  font-size:75px;
  font-weight:bold;
  text-align:center;
}

/**/

body{
  height:90vh;
}

.container{
  max-width: 700px;
  margin:auto;
  height:50vh;
  display:flex;
  align-items:center;
  justify-content: center;
}

a{
  color:#4287f5;
}
